<?xml version="1.0" encoding="UTF-8"?>
<config>
        <modules>
                <Ccc_P1>
                        <version>1.0.1</version>
                </Ccc_P1>
        </modules>
        <frontend>
                <routers>
                        <p1>
                                <use>standard</use>
                                <args>
                                        <module>Ccc_P1</module>
                                        <frontName>p1</frontName>
                                </args>
                        </p1>
                </routers>
        </frontend>
        <admin>
                <routers>
                        <adminhtml>
                                <args>
                                        <modules> 
                                                <p1>Ccc_P1_Adminhtml</p1>
                                        </modules>

                                </args>
                        </adminhtml>
                </routers>
        </admin>
        <adminhtml>
                <menu>
                        <ccc_p1>
                                <title>P1</title>
                                <sort_order>300</sort_order>
                                <children>
                                        <p1>
                                                <title>Manage P1</title>
                                                <sort_order>0</sort_order>
                                                <action>adminhtml/p1</action>
                                        </p1>
                                </children>
                        </ccc_p1>
                </menu>
                <acl>
                        <resources>
                                <all>
                                    <title>Allow Everything</title>
                                </all>
                                <admin>
                                    <children>
                                        <ccc_p1>
                                            <title>P1</title>
                                            <sort_order>0</sort_order>
                                            <children>
                                                <p1>
                                                    <title>Manage P1</title>
                                                    <sort_order>1</sort_order>
                                                    <action>actionhtml/p1</action>
                                                </p1>
                                            </children>
                                        </ccc_p1>
                                    </children>
                                </admin>
                        </resources>
                </acl>
                <layout>
                    <updates>
                        <ccc_p1>
                            <file>p1.xml</file>
                        </ccc_p1>
                    </updates>
                </layout>
        </adminhtml>


        <global>
                <blocks>
                        <p1>
                                <class>Ccc_P1_Block</class>
                        </p1>
                </blocks>
                <models>
                        <ccc_p1>
                                <class>Ccc_P1_Model</class>
                                <resourceModel>p1_resource</resourceModel>
                        </ccc_p1>
                        <p1_resource>
                                <class>Ccc_P1_Model_Resource</class>
                                <entities>
                                        <p1>
                                                <table>ccc_p1</table>
                                        </p1>
                                </entities>
                        </p1_resource>
                </models>
                <resources>
                        <p1_setup>
                                <setup>
                                        <module>Ccc_P1</module>
                                </setup>
                        </p1_setup>
                </resources>
                <helpers>
                        <p1>
                                <class>Ccc_P1_Helper</class>
                        </p1>
                </helpers>
        </global>
</config>